<h1>
    Merchant profile listing
</h1>
<a class="bs-glyphicons" href="/Merchant/add">
    <span class="glyphicon glyphicon-plus"></span>
</a>


<ej-grid id="FlatGrid" allow-paging="true" allow-sorting="true" allow-filtering="true">
    <e-datamanager url="@Url.Action("UrlDataMerchant","Merchant")" adaptor="UrlAdaptor" update-url="/Merchant/CellEditUpdate" insert-url="/Merchant/CellEditInsert" remove-url="/Merchant/CellEditDelete"></e-datamanager>
    <e-edit-settings allow-adding="true" allow-editing="true" allow-deleting="true" edit-mode="Dialog"></e-edit-settings>
    <e-toolbar-settings show-toolbar="true" toolbar-items='@new List<string> {"add","edit","delete","update","cancel"}' />
    <e-page-settings page-size="10">
    </e-page-settings>
    <e-columns>
        <e-column field="MerchantID" is-primary-key="true" header-text="Merchant ID"></e-column>
        <e-column field="MerchantName" header-text="Merchant Name" validation-rules='@(new Dictionary<string,object> { {"required",true}, {"regexName", true } })'  ></e-column>
        <e-column field="CompanyRegisterationNumber" validation-rules='@(new Dictionary<string,object> { {"required",true}, {"regexCompanyGST", true } })'  header-text="Company Registeration №" text-align="Left" ></e-column>
        <e-column field="GstRegisterationNumber" validation-rules='@(new Dictionary<string,object> { {"required",true}, {"regexCompanyGST", true } })' header-text="GST Registeration Number" text-align="Left" ></e-column>
    </e-columns>
</ej-grid>

