@model _1TE_MY.Models.DTO.Registration_UserInformation
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
<div class='row'>
    @Html.Partial("PartialView/_Register",Model)
</div>
